/* Police personnalisé (fontsquirrel/awesomefont/googlefont) */

/* Eléments principaux de la page */
*{
    box-sizing: border-box;
}

body{
    /* background-color: dimgrey; */
    background-image: url("../image/wallpaper.png");
    font-family: Arial, Helvetica, sans-serif;
}

#bloc_page{
    width: 68%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 60px;
}

/* Barre de navigation */

.barre_nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 25px;
}

.barre_nav .titre_nav{
    color: black;
    display: flex;
    align-items: center
}

.barre_nav .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.barre_nav .onglets{
    display: flex;
    align-items: center;
    justify-content: center;
}

.barre_nav .onglets a{
    /* Comment espacer mes liens 
    sans décentrer le logo ??? 
    Rajouter top left right center 
    séparement */
}

/* Meilleur film */

.best_movie_container {
    display: flex;
    justify-content: center;
    width: auto;
}

#meilleur_film h1{
    color: black;
    text-align: center;
    margin-left: 25px;
}

#meilleur_film h2{
    position: absolute;
    color: aliceblue;
    top: 40;
}

.best_movie_container img {
    align-content: center;
}

.best_movie_container button, p {
    position: absolute;
}


/* Toutes les catégories */
.categories h1{
    text-align: center;
    color: black;
}

.categories .liste{
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    /* Cache la barre de défilement */
    overflow: hidden;
}

/* Carrousel */
.carrousel {
    position: relative;
    max-width: 1150px;
    margin: 0 auto;
}

.carrousel_image {
    width: auto;
    height: autos;
    object-fit: cover;
}

.carrousel_container {
    height: auto;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
    margin: 0;
}


.carrousel_slide {
    display: flex;
    top: 0;
    bottom: 0;
}

.carrousel_button{
    display: flex;
    position: absolute;
    justify-content: space-between;
    top: 50%;
    /* transform: translateY(-50%); */
    background: transparent;
    border: 0;
    cursor: pointer;
    font-size: 40px;
    color: black;
}

.carrousel_button-left {
    left: -50px;
}

.carrousel_button-right {
    right: -50px;
}


/* Carrousel navigator

.carrousel_nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carrousel_indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: black;
    margin: 0 10px;
    background: rgba(0, 0, 0, .3);
}

.carrousel_indicator.current-slide {
    background: rgba(0, 0, 0, 0.75);
} */