/* Personalize fonts (fontsquirrel/awesomefont/googlefont) */

/* Main page elements */
*{
    box-sizing: border-box;
}

body{
    /* background-color: dimgrey; */
    background-image: url("../image/wallpaper.png");
    background-repeat: repeat;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    height: 100vh;

}

#page_bloc{
    width: 80rem;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 60px;
}

/* Navigation bar */

.nav_bar {
    text-align: center;
}

.nav_bar > div{
    max-width: auto;
    max-height: auto;
}

.nav_title {
    float: left;
}

.nav_logo {
    display: inline-block;
    margin: 0 auto;
}

.nav_tabs{
    float: right;
}

.nav_tabs > a {
    
}

/* .nav_title{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_title h1 {
}

.nav_bar .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_bar .tabs{
    display: flex;
    align-items: center;
    justify-content: center;
} */


/* Best movie */

.best_movie_title{
    color: black;
    text-align: center;
    justify-content: center;
}

.best_movie_container {
    display: flex;
    /* box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17); */
    padding-left: 210px;
}

.best_movie_description {
    align-items: center;
    justify-content: center;
}


.best_movie_image {
    max-width: 100%;
    transition: 0.3s all ease-out;

}

.best_movie_image:hover{
    transform: scale(0.9);
    cursor: pointer;
}

.best_movie_container > div {
    flex-basis: 21rem;
}

/* Every category */
.categories h1{
    text-align: center;
    color: black;
}

.categories .liste{
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    /* Hide the scrolling bar */
    overflow: hidden;
}

/* Carrousel */
.carrousel {
    position: relative;
    max-width: 71%;
    margin: 0 auto;
}

.carrousel_image {
    width: auto;
    height: auto;
    object-fit: cover;
    cursor: pointer;
    transition: 0.3s all ease-out;
    margin-right: 1.5em;
    margin-left: 1.5em;
}

.carrousel_image:hover{
    transform: scale(0.9);
}

.carrousel_container {
    height: auto;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
    margin: 0;
}


.carrousel_slide {
    display: flex;
    top: 0;
    bottom: 0;
}

.carrousel_button{
    display: flex;
    position: absolute;
    justify-content: space-between;
    top: 50%;
    /* transform: translateY(-50%); */
    background: transparent;
    border: 0;
    cursor: pointer;
    font-size: 40px;
    color: black;
    transition: 0.3s all ease-out;
}

.carrousel_button:hover{
    transform: scale(1.2);
}

.carrousel_button-left {
    left: -30px;
}

.carrousel_button-right {
    right: -30px;
}


/* Modals */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal_content {
    background-color: #f4f4f4;
    margin: 10% auto;
    width: 60%;
    height: auto;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration:0.8s;
}

.modal_header {
    display: block;
    background: lavender;
    padding: 20px;
}

.modal_header h2, .modal_footer h3{
    margin: 0;
}

.modal_body {
    display: flex;
}

.modal_content.modal_body {
    padding: 10px 20px;

}

.modal_image {
}

.modal.modal_content.modal_body.modal_description{
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.modal_content.modal_description {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    height: auto;
}

.modal_footer {
    background: lavender;
    height: 50px;
}

.modal_footer h3 {
    text-align: left;
}

.close_button {
    color: dimgray;
    float: right;
    font-size: 50px;
}

.close_button:hover,.close_button:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalopen {
    from{opacity: 0}
    to {opacity: 1}
}